/* :root{
    --main_color:#082032;
    --second_color:#2C394B;
    --three_color:#334756;
    --text_color:#FF4C29;
    --icon_color:#fff;
}
:root{
    --main_color:#F9F5F6;
    --second_color:#F8E8EE;
    --three_color:#FDCEDF;
    --text_color:#F2BED1;
    --icon_color:#000;
}
:root{
    --main_color:#3C486B;
    --second_color:#F0F0F0;
    --three_color:#F9D949;
    --text_color:#F45050;
    --icon_color:#fff;
} */
#footer{
    background-color: var(--second_color);
    /* background-color: #2c2c2c; */
    width: 100vw;
    margin-top: 2%;
    min-height: 30vh;
    display: flex;
    justify-content: center;
    padding: 2%;
    flex-wrap: wrap-reverse;
}
#footer ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
#footer ul li{
    font-size: 0.7rem;
    width: max-content;
    margin: 2%;
    text-align: center;
}
#footer ul li:last-child{
    font-size: 1rem;
}
#footer img{
    width: min(50%,500px);
    filter: drop-shadow(0 0 20px var(--main_color));
}